//
//  Config.xcconfig
//  Hungries
//
//  Created by Stanislav Miachenkov on 7/25/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

GMS_SERVICES_API_KEY = [GMS_API_KEY]

HUNGRIES_API_USERNAME = [API_USERNAME]
HUNGRIES_API_PASSWORD = [API_PASSWORD]
